@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Bakbak One", cursive;
}

section {
    background-color: palegoldenrod;
    //height: 100vh;
    //width: 25vw;
    display: grid;
    grid-template-columns: auto;
    div {
        // border: 1px solid rebeccapurple;
        display: flex;
        justify-content: center;
        .sub_item {
            //border: 1px solid red;
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            align-items: center;
            p {
                // background-color: red;
                text-align: center;
            }
        }
    }
}

.sub_item_deco {
    border: 1px solid #f2789f;
    border-radius: 25px;
    height: 150px;
    width: 130px;
    background-color: #f9c5d5;
}

.title {
    font-size: 1.6rem;
}
.sm_title {
    font-size: 1.5rem;
}

.score {
    font-size: 1.4rem;
}
.sm_score {
    font-size: 1.2rem;
}

// Button style
.bt {
    width: 100px;
    height: 40px;
    border: 1px solid silver;
    border-radius: 25px;
    background-color: whitesmoke;
    text-align: center;
    cursor: pointer;
    p {
        padding: 0.6rem;
        text-align: center;
    }
}

// Button Panel
.bt_panel {
    display: grid;
    grid-template-columns: auto;
}

.pt {
    background-color: pink;
}
main {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80vw;
    height: 60vh;
    margin-top: 10%;
}

body {
    margin: auto;
    width: 80vw;
    padding: 10px;
    overflow-x: hidden;
}
